<beans:beans 
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<beans:bean id="environmentConfig" class="org.jasypt.encryption.pbe.config.EnvironmentStringPBEConfig">
		<beans:property name="algorithm" value="PBEWithMD5AndDES" />
			<beans:property name="passwordEnvName" value="PEV" />
		</beans:bean>

	<beans:bean id="encryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
		<beans:property name="config" ref="environmentConfig" />
	</beans:bean>

	<beans:bean class="org.jasypt.spring3.properties.EncryptablePropertyPlaceholderConfigurer">
		<beans:constructor-arg ref="encryptor" />
			<beans:property name="location" value="classpath:/config/spring/db.properties" />
	</beans:bean>


	<beans:bean id="crmDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
           <beans:property name="driverClassName" value="${driver}"/>
           <beans:property name="url" value="${dburlCrmUser}"/>
           <beans:property name="username" value="${dbuserCrmUser}"/>
           <beans:property name="password" value="${dbpasswordCrmUser}"/>
	</beans:bean> 
 
	<beans:bean id="userRegistrationService" class="com.contento3.site.user.service.impl.UserRegistrationServiceImpl">
		<beans:property name="userDao" ref="siteUserDao"/>
		<beans:property name="siteDao" ref="siteDAO"/>
	</beans:bean>

</beans:beans>
