<beans:beans xmlns:security="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

 
	<beans:bean id="jdbcdataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName">
	    	<beans:value>com.mysql.jdbc.Driver</beans:value>
		</beans:property>
		<beans:property name="url">
	    	<beans:value>jdbc:mysql://localhost:3306/crm</beans:value>
		</beans:property>
		<beans:property name="username">
	    	<beans:value>root</beans:value>
		</beans:property>
		<beans:property name="password">
	    	<beans:value>root</beans:value>
		</beans:property>
	</beans:bean>

	<beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

	<beans:bean id="userRegistrationService" class="com.contento3.site.user.service.impl.UserRegistrationServiceImpl">
		<beans:property name="passwordEncoder" ref="passwordEncoder"/>
		<beans:property name="userDao" ref="siteUserDao"/>
		<beans:property name="siteDao" ref="siteDAO"/>
	</beans:bean>

										<!-- Spring Security EXPLICIT Configuration for sites -->
	
	<beans:bean id="springSecurityFilterChain" class="org.springframework.security.web.FilterChainProxy">
		<security:filter-chain-map path-type="ant">
    		<security:filter-chain pattern="/**" 
    		filters="securityContextPersistenceFilter,
    				logoutFilter,
    				usernamePasswordAuthenticationFilter,
      				anonymousAuthenticationFilter,
      				exceptionTranslationFilter,
      				filterSecurityInterceptor" />
 		 </security:filter-chain-map>
   		<!-- <security:custom-filter ref="customAuthenticationFilter" after="FORM_LOGIN_FILTER"/> -->
 	</beans:bean>


	
	<beans:bean id="customAuthenticationFilter" class="com.contento3.site.security.CustomSiteUsernamePasswordAuthenticationFilter">
  		<beans:property name="authenticationManager" ref="authenticationManager"/>
	</beans:bean>

	<beans:bean id="securityContextPersistenceFilter" class="org.springframework.security.web.context.SecurityContextPersistenceFilter"/>

	<beans:bean id="logoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
  		<!-- the post-logout destination -->
  		<beans:constructor-arg value="/"/>
    		<beans:constructor-arg>
      			<beans:array>
        			<beans:ref local="logoutHandler"/>
      			</beans:array>
    	</beans:constructor-arg>
  		<beans:property name="filterProcessesUrl" value="/logout"/>
	</beans:bean>
	
	<beans:bean id="usernamePasswordAuthenticationFilter" class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
		<beans:property name="authenticationManager" ref="customAuthenticationManager"/>
	</beans:bean>
	
	<beans:bean id="anonymousAuthenticationFilter" class="org.springframework.security.web.authentication.AnonymousAuthenticationFilter">
  		<beans:property name="userAttribute" value="anonymousUser,ROLE_ANONYMOUS"/>
  		<beans:property name="key" value="BF93JFJ091N00Q7HF"/>
	</beans:bean>

	<beans:bean id="exceptionTranslationFilter"	class="org.springframework.security.web.access.ExceptionTranslationFilter">
  		<beans:property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
  		<beans:property name="accessDeniedHandler" ref="accessDeniedHandler"/>
	</beans:bean>
	
	<beans:bean id="filterSecurityInterceptor" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
  		<beans:property name="authenticationManager" ref="customAuthenticationManager"/>
  		<beans:property name="accessDecisionManager" ref="affirmativeBased"/>
  		<beans:property name="securityMetadataSource">
   			<security:filter-security-metadata-source>
      			<security:intercept-url pattern="/login.do" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
      			<security:intercept-url pattern="/home.do" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
      			<security:intercept-url pattern="/account/*.do" access="ROLE_USER"/>
      			<security:intercept-url pattern="/*" access="ROLE_USER"/>
    		</security:filter-security-metadata-source>
  		</beans:property>
	</beans:bean>
	
	<beans:bean class="org.springframework.security.access.vote.AffirmativeBased" id="affirmativeBased">
  		<beans:property name="decisionVoters">
    		<beans:list>
      			<beans:ref bean="roleVoter"/>
      			<beans:ref bean="authenticatedVoter"/>
    		</beans:list>
  		</beans:property>
	</beans:bean>

	<beans:bean class="org.springframework.security.access.vote.RoleVoter" id="roleVoter"/>
	<beans:bean class="org.springframework.security.access.vote.AuthenticatedVoter" id="authenticatedVoter"/>
	
	<!-- 
	<beans:bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
  		<beans:property name="userDetailsService" ref="jdbcUserService"/>
	</beans:bean>
	 -->

    <beans:bean id="customJdbcUserService" class="com.contento3.site.security.user.service.impl.SiteUserDetailsServiceImpl">
    	<beans:property name="userDao" ref="siteUserDao"/>
    </beans:bean>
    
	<!-- CUSTOM DAO PROVIDER to accomodate user's siteId -->
	<beans:bean id="customDaoAuthenticationProvider" class="com.contento3.site.security.SiteUsernamePasswordAuthenticationProvider">
  		<beans:property name="userDetailsService" ref="customJdbcUserService"/>
	</beans:bean>
	
	<beans:bean id="anonymousAuthenticationProvider" class="org.springframework.security.authentication.AnonymousAuthenticationProvider">
  		<beans:property name="key" value="BF93JFJ091N00Q7HF"/>
	</beans:bean>
	
	<beans:bean id="customAuthenticationManager" class="org.springframework.security.authentication.ProviderManager">
  		<beans:property name="providers">
    		<beans:list>
    	      	<beans:ref local="customDaoAuthenticationProvider"/>
      			<beans:ref local="anonymousAuthenticationProvider"/>
    		</beans:list>
  		</beans:property>
	</beans:bean>

	<beans:bean id="logoutHandler" class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/>    	

	<beans:bean id="authenticationEntryPoint"  class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
  		<beans:property name="loginFormUrl" value="/login.do"/>
	</beans:bean>

	<beans:bean id="accessDeniedHandler" class="org.springframework.security.web.access.AccessDeniedHandlerImpl">
  		<beans:property name="errorPage" value="/accessDenied.do"/>
	</beans:bean>
	
	<beans:bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"  id="expressionHandler"/>
	
	<beans:bean class="org.springframework.security.web.access.expression.WebExpressionVoter" id="expressionVoter">
  		<beans:property name="expressionHandler" ref="expressionHandler"/>
	</beans:bean>
	
</beans:beans>
