<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springmodules.org/schema/ehcache http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


	<bean class="org.jasypt.spring3.properties.EncryptablePropertyPlaceholderConfigurer">
		<constructor-arg ref="encryptor" />
		<property name="location" value="classpath:/config/spring/db.properties" />
	</bean>

	<bean id="jdbcdataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
           <property name="driverClassName" value="${driver}"/>
           <property name="url" value="${dburlPlatformUser}"/>
           <property name="username" value="${dbuserPlatformUser}"/>
           <property name="password" value="${dbpasswordPlatformUser}"/>	
	</bean>
	
	<bean id="cmsSecuritySessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="jdbcdataSource" />
		<property name="annotatedClasses">
			<list>
			    <value>com.contento3.security.group.model.Group</value>
			    <value>com.contento3.security.role.model.Role</value> 
			    <value>com.contento3.security.permission.model.Permission</value> 
			    <value>com.contento3.security.user.model.SaltedHibernateUser</value>
			    <value>com.contento3.account.model.Account</value>
			    <value>com.contento3.security.entity.model.PermissionEntity</value>
				<value>com.contento3.security.entityoperation.model.EntityOperation</value>
			</list>
		</property>	
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.generate_statistics">true</prop>
				<prop key="hibernate.cache.use_structured_entries">true</prop>
				<prop key="net.sf.Ehcache.configurationResourceName">/config/spring/ehcache.xml</prop>
				
				<prop key="hibernate.c3p0.min_size">2 </prop>
	            <prop key="hibernate.c3p0.max_size" >5</prop>
	            <prop key="hibernate.c3p0.timeout">600</prop>
	            <prop key="hibernate.c3p0.max_statements">0</prop>
	            <prop key="hibernate.c3p0.idle_test_period">300</prop>
	            <prop key="hibernate.c3p0.acquire_increment">1</prop>
	            
			</props>
		</property>
	</bean>


	<bean id="cacheMonitor" class="com.contento3.common.aspect.CacheMonitor">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

	<bean id="cacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:/config/spring/ehcache.xml" />
	</bean>
	
	
	<aop:aspectj-autoproxy>
	    <aop:include name="cacheMonitor" /> 
	</aop:aspectj-autoproxy>
	<bean id="accountCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager" ref="cacheManager" />
		<property name="cacheName" value="com.contento3.account.model.Account" />
	</bean>
	<!-- GroupDao -->
	<bean id="groupDao"
		class="com.contento3.security.group.dao.impl.GroupDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSecuritySessionFactory" />
	</bean>
	
	
	<!-- SaltedHibernateUserDao -->
	<bean id="saltedHibernateUserDao"
		class="com.contento3.security.user.dao.impl.SaltedHibernateUserDaoImpl">
		<property name="sessionFactory" ref="cmsSecuritySessionFactory" />
	</bean>
		<bean id="roleDao"
		class="com.contento3.security.role.dao.impl.RoleDaoImpl">
		<property name="sessionFactory" ref="cmsSecuritySessionFactory" />
	</bean>
	<bean id="permissionDao"
		class="com.contento3.security.permission.dao.impl.PermissionDaoImpl">
		<property name="sessionFactory" ref="cmsSecuritySessionFactory" />
	</bean>
	<bean id="entityDao"
		class="com.contento3.security.entity.dao.impl.EntityDaoImpl">
		<property name="sessionFactory" ref="cmsSecuritySessionFactory" />
	</bean>
	<bean id="entityOperationDao"
		class="com.contento3.security.entityoperation.dao.impl.EntityOperationDaoImpl">
		<property name="sessionFactory" ref="cmsSecuritySessionFactory" />
	</bean>
</beans>
