<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springmodules.org/schema/ehcache http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

<bean id="environmentConfig" class="org.jasypt.encryption.pbe.config.EnvironmentStringPBEConfig">
<property name="algorithm" value="PBEWithMD5AndDES" />
<property name="passwordEnvName" value="PEV" />
</bean>


<bean id="encryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
<property name="config" ref="environmentConfig" />
</bean>

<bean class="org.jasypt.spring3.properties.EncryptablePropertyPlaceholderConfigurer">
<constructor-arg ref="encryptor" />
<property name="location" value="classpath:/config/spring/db.properties" />
</bean>


<bean id="modulesDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
           <property name="driverClass" value="${driver}"/>
           <property name="jdbcUrl" value="${dburlModules}"/>
           <property name="user" value="${dbuserModules}"/>
           <property name="password" value="${dbpasswordModules}"/>
           <property name="acquireIncrement" value="1" />
           <property name="minPoolSize" value="2" />
           <property name="maxPoolSize" value="5" />
           <property name="maxIdleTime" value="100" />     
           <property name="debugUnreturnedConnectionStackTraces" value="true" />
           <property name="unreturnedConnectionTimeout" value="300" />
</bean>

	<bean id="modulesSessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="modulesDataSource" />
		<property name="annotatedClasses">
			<list>
				 <value>com.contento3.account.model.Account</value>
				 <value>com.contento3.account.model.AccountType</value>
				 <value>com.contento3.account.model.Module</value>
				 <value>com.contento3.account.model.ModuleCategory</value>
			</list>
		</property>	
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.generate_statistics">true</prop>
				<prop key="hibernate.cache.use_structured_entries">true</prop>
				<prop key="net.sf.Ehcache.configurationResourceName">/config/spring/ehcache.xml</prop>
			</props>
		</property>	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="modulesSessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />

<!--  	<bean id="documentDAO"
		class="com.contento3.dam.document.dao.impl.DocumentDaoHibernateImpl">
		<property name="sessionFactory" ref="modulesSessionFactory" />
	</bean>
	-->
	<aop:aspectj-autoproxy>
	<!-- 	<aop:include name="applicationLogger" /> -->
	    <aop:include name="cacheMonitor" /> 
	</aop:aspectj-autoproxy>
 
	<bean id="applicationLogger" class="com.contento3.common.aspect.ApplicationLogger" />
	
	<bean id="cacheMonitor" class="com.contento3.common.aspect.CacheMonitor">
		<property name="sessionFactory" ref="modulesSessionFactory" />
	</bean>
</beans>
