@import url(../reindeer/styles.css);

.v-tree-node {
	background: transparent url(images/plus-icon.gif) no-repeat 5px 3px;
	padding: 1px 0;
}

.v-tree-node-expanded {
	background: transparent url(images/minus-icon.gif) no-repeat 5px 3px;
	padding: 1px 0;
}

.v-label-screenHeading {
    font-size: 20px;
    line-height: normal;
}

.v-label-screenSubHeading {
    font-size: 14px;
    line-height: normal;
}