<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springmodules.org/schema/ehcache http://www.springmodules.org/schema/cache/springmodules-ehcache.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


 	<bean id="myDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/cms" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	
	<bean id="cmsSessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="annotatedClasses">
			<list>
				 <value>com.contento3.cms.page.layout.model.PageLayout</value>
				 <value>com.contento3.cms.page.layout.model.PageLayoutType</value>
				 <value>com.contento3.cms.page.section.model.PageSection</value>
				 <value>com.contento3.cms.page.section.model.PageSectionType</value>
				 <value>com.contento3.cms.page.template.model.Template</value>
				 <value>com.contento3.cms.page.model.Page</value>
				 <value>com.contento3.cms.site.structure.model.Site</value>
				 <value>com.contento3.account.model.Account</value>
				 <value>com.contento3.cms.page.template.model.TemplateType</value>
				 <value>com.contento3.cms.page.template.model.TemplateDirectory</value>
				 <value>com.contento3.dam.image.model.Image</value>
				 <value>com.contento3.cms.page.template.model.PageTemplate</value>
			     <value>com.contento3.cms.page.category.model.Category</value>
			     <value>com.contento3.cms.site.structure.domain.model.SiteDomain</value>
			     <value>com.contento3.cms.article.model.Article</value>
			     <value>com.contento3.cms.article.model.RelatedArticle</value>
			     <value>com.contento3.dam.image.library.model.ImageLibrary</value>
			  <!--   <value>com.contento3.site.user.model.User</value> -->
			    
			</list>
		</property>	
		<property name="mappingResources">
			<list>
			<!-- 	 <value>ContentType.hbm.xml</value> 
				 <value>PageLayoutType.hbm.xml</value>-->
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.generate_statistics">true</prop>
				<prop key="hibernate.cache.use_structured_entries">true</prop>
				<prop key="net.sf.Ehcache.configurationResourceName">ehcache.xml</prop>
			</props>
		</property>	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

 	<bean id="pageDAO"	class="com.contento3.cms.page.dao.impl.PageDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

 	<bean id="accountDAO"
		class="com.contento3.account.dao.impl.AccountDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>

 	<bean id="siteDAO"
		class="com.contento3.cms.site.structure.dao.impl.SiteDAOHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>
	
	<bean id="pageLayoutDAO"
		class="com.contento3.cms.page.layout.dao.impl.PageLayoutDaoHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>
	
	<bean id="pageLayoutTypeDAO"
		class="com.contento3.cms.page.layout.dao.impl.PageLayoutTypeDAOHibernateImpl">
		<property name="sessionFactory" ref="cmsSessionFactory" />
	</bean>
	
</beans>
